* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: blanchedalmond;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}

h5,
p,
a {
  font-size: 16px;
}
h1,
h2,
h3,
h5,
p,
a {
  color: white;
}
.container {
  width: 100%;
  margin: 0 auto;
}

/* ================navbar============= */
.nav_container {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(17, 65, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
  position: fixed;
  top: 0;
}

.logo h1 {
  font-size: 28px;
  color: tomato;
  margin-left: 15px;
}
.logo span {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

ul {
  display: flex;
  margin-right: 50px;
}

ul li {
  padding: 0 15px;
}

ul li a {
  text-transform: uppercase;
  transition: 0.5s;
}

ul li a:hover {
  color: tomato;
  font-size: 18px;
}

/*=================== bannar section ================ */

.banner_item {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(42, 95, 95);
  gap: 50px;
}

.profile_text_head {
  padding: 20px;
  line-height: 40px;
  text-align: center;
}

.profile_text_head h1 {
  font-size: 40px;
  color: tomato;
}

.profile_img {
  width: 450px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_img img {
  width: 100%;
  border: 2px solid white;
  border-radius: 50% 0;

  transition: 0.5s;
}

.profile_img img:hover {
  width: 98%;
}

.btn a {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: tomato;
  border: transparent;
  cursor: pointer;
  color: white;
}

.btn a:hover {
  background-color: rgb(183, 48, 24);
}

/* ==============About item ============ */

.about_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  background-color: rgb(42, 95, 95);
}

.about_container h1 {
  font-size: 42px;
  color: tomato;
}

.about_right,
.about_left {
  background-color: rgb(7, 14, 61);
  padding: 25px;
  border-radius: 10px;
  font-size: 20px;
}

.about_left,
.about_right li {
  list-style-type: disc;
  margin-top: 10px;
  font-style: italic;
}

.about_desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 200px;
  line-height: 40px;
}

.hobbies {
  display: flex;
  flex-direction: column;
}

.hobbies a {
  list-style: square;
}

/* =================About Hobbies================= */

.hobbies_container {
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  background-color: rgb(42, 95, 95);
}

.hobbies_container h1 {
  font-size: 42px;
  padding-bottom: 50px;

  color: tomato;
  text-align: center;
}

.hobbies_body {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.hobbies_left {
  width: 60%;
}

.galary_item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.galary_item img {
  width: 400px;
  height: 350px;
  border: 3px solid rgb(0, 0, 0);
}

.hobbies_left h2 {
  color: tomato;
  font-weight: 700;
  text-align: center;
  padding-bottom: 25px;
}
.hobbies_right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hobbies_right h2 {
  color: tomato;
  font-weight: 700;
}

.hobbies_link {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hobbies_link a {
  font-size: 20px;
  font-weight: 600;
}
